*, *::after, *::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.backdrop-blur{
    backdrop-filter: blur(10px);
}

.menu{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    backdrop-filter: blur(10px);
}
